@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font */
.font-cursive {
  font-family: 'Great Vibes', cursive;
}

/* Custom Swiper Pagination Styles */
.custom-swiper-bullet {
  background-color: #664930 !important;
  opacity: 0.5 !important;
}

.custom-swiper-bullet-active {
  background-color: #664930 !important;
  opacity: 1 !important;
}